target/
.env
*.class
*.jar
*.war
*.ear
*.log
.DS_Store
.idea/
*.iml
.mvn/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd
.settings/
.classpath
.project
.factorypath
spring-shell.log
